# Projeto ETL Básico - Apresentação

## Introdução
Este projeto demonstra um processo ETL simples para carregar dados de vendas em um banco de dados SQL.

## Estrutura do Projeto
O projeto está dividido em três etapas principais:
1. **Extração (Extract)**
2. **Transformação (Transform)**
3. **Carregamento (Load)**

### 1. Extração (Extract) **Descrição:** Extraindo dados de um arquivo CSV.

In [1]:
import pandas as pd
from sqlalchemy import create_engine

df = pd.read_csv('vendas.csv')
print("Dados Extraídos:\n", df.head())

Dados Extraídos:
    codigo nome_produto  quantidade  preco        data
0       1    Chocolate          10   5.00  2024-01-15
1       2        Leite           5   3.50  2024-01-15
2       3          Pão          20   1.00  2024-01-15
3       4         Café           7  10.00  2024-01-15
4       5        Arroz          15   4.25  2024-01-15

### 2. Transformação (Transform) **Descrição:** Limpando e preparando os dados, removendo valores nulos, convertendo tipos de dados e realizando cálculos.

In [ ]:
df = df.dropna()
df['data'] = pd.to_datetime(df['data'])
df['total_vendas'] = df['quantidade'] * df['preco']
print("Dados Transformados:\n", df.head())

Dados Transformados:
    codigo nome_produto  quantidade  preco       data  total_vendas
0       1    Chocolate          10   5.00 2024-01-15         50.00
1       2        Leite           5   3.50 2024-01-15         17.50
2       3          Pão          20   1.00 2024-01-15         20.00
3       4         Café           7  10.00 2024-01-15         70.00
4       5        Arroz          15   4.25 2024-01-15         63.75